<template>
    <div class="Blog">
      <HelloWorld msg="Blog view"/>
    </div>
  </template>
  
  <script>
  // @ is an alias to /src
  import HelloWorld from '@/components/HelloWorld.vue'
  
  export default {
    name: 'BlogView',
    components: {
      HelloWorld
    }
  }
  </script>
  