<template>
  <div class="register"  >
    <h1 class="title">Sign Up</h1>
    <form action class="form" @submit.prevent="register">
      <label class="form-label" for="#userName">User Name:</label>
      <input
          v-model="userName"
          class="form-input"
          type="text"
          id="user"
          required
          placeholder="UserName"
      >
      <label class="form-label" for="#firstName">First Name:</label>
      <input
          v-model="firstName"
          class="form-input"
          type="text"
          id="nameFirst"
          placeholder="FirstName"
      >
      <label class="form-label" for="#lastName">Last Name:</label>
      <input
          v-model="lastName"
          class="form-input"
          type="text"
          id="nameLast"
          placeholder="LastName"
      >
      <label class="form-label" for="#curp">Curp:</label>
      <input
          v-model="curp"
          class="form-input"
          type="text"
          id="curp"
          placeholder="curp"
      >
      <label class="form-label" for="#sellOrRent">Houses Rent or Sell:</label>
      <input
          v-model="sellOrRent"
          class="form-input"
          type="number"
          id="sellOrRent"
          placeholder="Number of houses rent or sell"
      >

      <label class="form-label" for="#password">contact:</label>
      <input
          v-model="contact.mail"
          class="form-input"
          type="mail"
          id="mail"
          placeholder="mail"
      >
      <input
          v-model="contact.cellphone"
          class="form-input"
          type="number"
          id="phone"
          placeholder="cellphone"
      >
      <label class="form-label" for="#password">Profile:</label>
      <input
          v-model="profile.userName"
          class="form-input"
          type="text"
          id="user"
          placeholder="userName"
      >
      <input
      v-model="profile.age"
      class="form-input"
      type="number"
      id="age"
      placeholder="Age"
       >
      <input
      v-model="profile.mail"
      class="form-input"
      type="mail"
      id="mail"
      placeholder="Mail"
      >
      <label class="form-label" for="#password">Location:</label>
      <input
          v-model="location.latitude"
          class="form-input"
          type="number"
          id="lat"
          placeholder="latitude"
      >
      <input
      v-model="location.longitude"
      class="form-input"
      type="number"
      id="lon"
      placeholder="longitude"
  >
  <label class="form-label" for="#lastName">Password:</label>
  <input
      v-model="password"
      class="form-input"
      type="password"
      id="pass"
      placeholder="password"
  >
      <input v-on:click="createUser" class="btn btn-primary btn-block mb-4" type="submit" value="Registrate">
      <div class="text-center">
        <p>¿Ya tienes cuenta? <router-link to="/">Inicia sesion</router-link></p>
      </div>
    </form>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data: () => ({
    userName: "",
    firstName:"",
    lastName:"",
    password: "",
    sellOrRent:"",
    curp:"",
    location:{
      latitude:"",
      longitude:""
    },
    profile:{
      userName:"",
      age:"",
      mail:""
    },
    contact:{
      cellphone:"",
      mail:""
    },
    error: false
  }),
  methods: {
    async createUser() {
      try {
        let response = await axios.post('https://calm-red-coyote-tie.cyclic.app/users/create',{
          userName: this.userName,
          password: this.password,
          firstName: this.firstName,
          lastName: this.lastName,
          sellOrRent: this.sellOrRent,
          curp:this.curp,
          location:this.location,
          profile:this.profile,
          contact:this.contact
        });
        if (response.status == 200 || response.status == 201){
        await this.$router.push("/");
       }else{
        this.error = true
      }
        console.log(response)
        alert("Usuario creado con éxito")
      } catch (error) {
        this.error = true;
      }

    }
  }
};
</script>

<style  scoped>
body{
  background-color: white;

}
.register {
  padding: 2rem;
  background-image: url("../assets/houses.jpg");

}
.title {
  text-align: center;
}
.form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 350px;
  max-width: 100%;
  background:white;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.form-label {
  margin-top: 2rem;
  color: black;
  margin-bottom: 0.5rem;

}
.form-input {
  padding: 10px 15px;
  background: none;
  background-image: none;
  border: 1px solid black;
  color: black;

}
.form-submit {
  background: white;
  border: solid black;
  color: black;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;

}
.error {
  margin: 1rem 0 0;
  color: #ff4a96;
}
</style>