<template>
  
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    
    <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="margin: 10px" >
            <div class="input-group" style="margin: 5px" >
              <input type="text" class="form-control bg-light border-0 small" placeholder="Enter an address, city or ZIP code"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" style="margin: 5px" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
         
            </div>
          </form>
Filtres

<div>
  <b-dropdown id="dropdown-left" text="Type" variant="primary" class="m-2">
    <b-dropdown-item href="#">casa</b-dropdown-item>
    <b-dropdown-item href="#">departamento</b-dropdown-item>
    
  </b-dropdown>
  <b-dropdown id="dropdown-left" text="Status" variant="primary" class="m-2">
    <b-dropdown-item href="#">venta</b-dropdown-item>
    <b-dropdown-item href="#">renta</b-dropdown-item>
  </b-dropdown>
  <b-dropdown id="dropdown-left" text="min price" variant="primary" class="m-2">
    <b-dropdown-item href="#">3000</b-dropdown-item>
    <b-dropdown-item href="#">1000</b-dropdown-item>
  </b-dropdown>
  <b-dropdown id="dropdown-left" text="max price" variant="primary" class="m-2">
    <b-dropdown-item href="#">10,000</b-dropdown-item>
    <b-dropdown-item href="#">5,000</b-dropdown-item>
  </b-dropdown>
 
</div>

   <!-- <label class="typo__label">Estatus</label>
  <multiselect v-model="value" :options="options" :custom-label="nameWithLang"
   placeholder="Select one" label="name" track-by="name"></multiselect>
   <label class="typo__label">Tipo</label>
   <multiselect v-model="value" :options="options" :custom-label="nameWithLang"
    placeholder="Select one" label="name" track-by="name"></multiselect>
    <label class="typo__label">Precio</label>
    <multiselect v-model="value" :options="options" :custom-label="nameWithLang"
     placeholder="Select one" label="name" track-by="name"></multiselect>  -->
  </nav>
  
</template>

<script>
// import Multiselect from 'vue-multiselect';


export default {
  name: "NavBar",
  components:{
    // Multiselect
   
  },
  props:{
    objects:{
      type:[Object]
    },
    filters:{
      type:[String]
    }
  },
  data(){
    return{
      buildingType:this.objects.buildingType,
      value: [],
          
    }
  }
}



</script>

<style scoped>


.dropdwon:hover .dropdwon-menu{
  display: block;
}
.hm-gradient{
  background-color:brown
}
.navbar .dropdwon-menu a:hover {
  color: rgb(212, 125, 11) !important;
}

</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
 
<style>
  .multiselect{
    width: 20%;
  }
  
</style>
